<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>果壳机动</title>
<link rel="stylesheet" href="./public/Admin/css/reset.css">
<link rel="stylesheet" href="./public/Admin/css/adm.css">
</head>
<body>
    <div id="main">
            <h2 align="center">友情链接管理</h2>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="?c=Links&a=index">管理首页</a>&nbsp; |&nbsp;
            <a href="?c=Links&a=create">添加友情链接</a>
            <h2 align="center">添加友情链接</h2>
            <form action="?c=Links&a=store" method="post" enctype="multipart/form-data">
                <div class="form-group1">
                    <label>域名:</label>
                    <p>
                        <input type="text" name="domain" />
                    </p>
                </div>
                <div class="form-group1">
                    <label>网址:</label>
                    <p>
                        <input type="text" name="url" />
                    </p>
                </div>
                <div class="form-group1">
                    <label>排序:</label>
                    <p>
                        <input type="text" name="orderby" />
                    </p>
                </div>
                <div class="form-group1">
                    <label>&nbsp;</label>
                    <p>
                        <button type="submit">提交</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>