<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布文章</title>
<link rel="stylesheet" href="./public/Admin/css/reset.css">
<link rel="stylesheet" href="./public/Admin/css/adm.css">
</head>
<body>
    <div id="main">
        <h2 align="center">文章管理</h2>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="?c=Posts&a=index">管理首页</a> &nbsp;|&nbsp;
            <a href="?c=Posts&a=create">发布文章</a>
            <h2 align="center">编辑文章</h2>
            <form action="?c=Posts&a=update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>分类:</label>
                    <p>
                        <select name="category_id">
                        <option value="0">无分类</option>
                        {{foreach $categories as $category}}
                        <option value="{{$category.id}}" {{if $category.id  eq $post.category_id}}selected{{/if}} >
                            {{str_repeat("----",$category.level*2)}}
                            {{$category.classname}}
                        </option>
                        {{/foreach}}
                    </select>
                    </p>
                </div>
                <div class="form-group">
                    <label>标题:</label>
                    <p>
                        <input type="text" name="title" value="{{$post.title}}" />
                    </p>
                </div>
                <div class="form-group">
                    <label>排序:</label>
                    <p>
                        <input type="text" name="orderby" style="width:15%;" value="{{$post.orderby}}" />
                        <span style="padding-left: 20px">置顶：</span>
                        <input type="checkbox" name="top" value="1" style="width:5%;"
                        {{if $post.top}}checked{{/if}} />
                    </p>
                </div>
                <div class="form-group">
                    <label >内容:</label>
                    <p>
                        <textarea name="content" style="height: 300px;">{{$post.content}}</textarea>
                    </p>
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <p>
                        <input type="hidden" name="id" value="{{$post.id}}">
                        <button type="submit">修改</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
<script charset="utf-8" src="./public/Admin/js/editor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="./public/Admin/js/editor/lang/zh-CN.js"></script>
<script>
//引入KindEditor在线编辑器
var editor;
KindEditor.ready(function(K){
    editor = K.create('textarea[name="content"]',{
        allowFileManager : true
    });
});
</script>
</html>