<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>网站后台管理系统</title>
</head>
<frameset rows="65,*" framespacing="0" frameborder="1" border="false" scrolling="yes" id="frametop">
    <frame src="?c=Index&a=top" name="top" scrolling="no" noresize="noresize" />
    <frameset framespacing="0" border="false" cols="222,10,*" frameborder="0" id="frameb" scrolling="yes">
        <frame src="?c=Index&a=left" name="left"  noresize="noresize" />
        <frame src="?c=Index&a=center" name="center" scrolling="no" noresize="noresize" />
        <frame src="?c=Index&a=main" name="main" />
    </frameset>
<noframes>
    <body>你的浏览器版本过低！IE5及以上版本才能使用！</body>
</noframes>  
</html>