<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>果壳机动</title>
<link rel="stylesheet" href="./public/Home/css/reset.css">
<link rel="stylesheet" href="./public/Home/css/index.css">
</head>
<body>
    <header>
        <h1>果壳机动</h1>
        <h4>我登楼观百川，入海即入我怀</h4>
    </header>
    <nav>
        <ul>
            <li><a href="?c=Index&a=index">首页</a></li>
            <li><a href="?c=Index&a=showList">日志</a></li>
            <li>
                <form action="?c=Index&a=index" method="post">
                <a href="?c=Index&a=content&id={{$ids}}">今日事</a>
                </form>
            </li>
            <li><a href="?c=Index&a=content&id=1">关于我</a></li>
        </ul>
    </nav>
    <div id="main">
        <div id="lside">
            {{foreach $posts as $post}}
            <article>
                <h2>
                    <a href="?c=Index&a=content&id={{$post.id}}">{{$post.title}}</a>
                </h2>
                <div class="entry_header">
                    <time>{{$post.created_at|date_format:'%Y-%m-%d %H:%M'}}</time>
                   <span>| 作者：{{$post.name}} | 
                    分类：{{$post.classname}} |
                    阅读：{{$post.read_total}} | 
                    点赞：{{$post.like_total}} | 
                    评论： {{$post.comment_count}}
                    </span>
                </div>
                <?php if($a['thumb']) { ?>
                <img src="<?php echo '.' . $a['thumb']; ?>" alt="">
                <?php } ?>
                <div class="entry_content">
                    {{$post.content|truncate:'500px':''}}
                </div>
            </article>
            {{/foreach}}

            <div id="pagebar">
                <p align="center">{{$pageStr}}</p>
            </div>
        </div>
        <div id="rside">
            <aside>
                <form action="?c=Index&a=index" method="post">
                    <input type="text" name="title" placeholder="搜索...">
                </form>
            </aside>
            <aside>
                <h4>文章分类</h4>
                <ul>
                    {{foreach $categories as $category}}
                    <li>
                        <a href="?c=Index&a=index&category_id={{$category.id}}">
                        {{str_repeat("--",$category.level*2)}}
                        {{$category.classname}}
                        </a>(<font color="red">{{$category.records}}</font>)
                    </li>
                    {{/foreach}}
                </ul>
            </aside>
            <aside>
                <h4>文章归档</h4>
                <ul>
                    {{foreach $months as $month}}
                    <li>
                        <a href="">{{$month.months}}</a>
                        (<font color="red">{{$month.records}}</font>)
                    </li>
                    {{/foreach}}
                </ul>
            </aside>
            <aside>
                <h4>友情链接</h4>
                <ul>
                    {{foreach $links as $link}}
                    <li>
                        <a href="{{$link.url}}" target="_blank">{{$link.domain}}</a>
                    </li>
                    {{/foreach}}
                </ul>
            </aside>
        </div>
    </div>
    <footer>
        Copyright &copy; 2018 · 果壳机动  · <a href="http://www.miitbeian.gov.cn/" target="_blank">鄂ICP备16007170号</a>
    </footer>
</body>
<script src="./public/Home/js/jquery.js"></script>
<script>
$('nav li a').each(function(){  
    if($($(this))[0].href==String(window.location))  
        $(this).parent().addClass('active');  
});
</script>
</html>